<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/edit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Submit</title>
    <title>Edit</title>
</head>
<body>
  <%- include("partials/header.ejs") %>

  <div class="container">
    <form action="/edit/<%= blog.id %>" method="POST">
        <div class="block">
            <label for="title" class="label">Title:</label><br>
            <input type="text" class="title" name="title" value="<%= blog.title %>"><br>
        </div>
        
        <div class="block">
            <label for="content" class="label">Content:</label><br>
            <textarea class="content" name="content"><%= blog.content %></textarea><br>
            <button class="button-37" type="submit" formaction="/submit/<%= blog.id %>">Save</button>
        </div>
        
    </form>
  </div>


  <%- include("partials/footer.ejs") %>
</body>
</html>

